.energy {
  background-image: url(/assets/images/energy-types.png);
  width: 25px;
  height: 25px;
  display: inline-block;
}

.energy.grass {
  background-position: -25px -50px;
}

.energy.colorless {
  background-position: -25px 0;
}

.energy.fire {
  background-position: 0 0;
}

.energy.water {
  background-position: -75px -50px;
}

.energy.lightning {
  background-position: -50px -50px;
}

.energy.darkness {
  background-position: 0 -50px;
}

.energy.fairy {
  background-position: -50px 0;
}

.energy.psychic {
  background-position: -75px -25px;
}

.energy.metal {
  background-position: -75px 0;
}

.energy.dragon {
  background-position: 0 -25px;
}

.energy.fighting {
  background-position: -50px -25px;
}

.modal-content {
  width: 1024px;
}

.modal-body {
  width: 1024px;
}

.modal-header {
  width: 1024px;
}

.modal-footer {
  width: 1024px;
}
